!!!5
html
  head
    title demo
    link(rel='stylesheet', href='/bootstrap.min.css')
    script(src='/jquery-1.9.1.min.js')
    script(src='/underscore-min.js')
    script(src='/backbone-min.js')
    script(src='/handlebars.js')
    script(src='/json2.js')
    script(src='/jlive-0.0.1.js')
       
  body
    .template_GitList(style="display:none")
      {{#each me}}
      div
          span.pull-right.label{{payload.action}}
          img(src='{{actor.avatar_url}}',width=64,height=64)
          div {{id}} - {{repo.name}}
          a(href='https://github.com/{{repo.name}}',target="_blank") https://github.com/{{repo.name}}
          | {{payload.title}}
          p
      {{/each}}      


    .container-narrow
      .row-fluid
        .row
          .span12
            ul(class="nav nav-pills pull-right")
              li
                a(href="/") Home
              li
                a(href="/about") About

        .row
          .span12
            .div #{title}
            button.btn.btn-primary(onclick="gitList.fetch({});") Actualiser
            hr

        .row
          .span6
            .viewRenderGitList
            hr
          .span6
            .viewRenderGitList2
              span Loading

        .row
         .span9
          .viewRendererJLive

         .span3
          button.btn.btn-primary(style="margin:10px",onclick="sondeList.url='/sample-allsondes.json';sondeList.fetch()") /allsondes.json
          br
          button.btn.btn-primary(style="margin:10px",onclick="sondeList.url='/sample-sonde1.json';sondeList.fetch()") /sonde1.json
          br
          button.btn.btn-primary(style="margin:10px",onclick="sondeList.url='/sample-sonde2.json';sondeList.fetch()") /sonde2.json



    script
      //one.fetch();
      /*var sondeList =  new jLive('/sample-allsondes.json')
        .setTemplate('.templatejLive')
        .setLayout('.viewRendererJLive');
      */
      var gitList = new jLive('https://api.github.com/events')
        .setTemplate('.template_GitList')
        .setLayout('.viewRenderGitList');

      //sondeList.fetch({});

      gitList.fetch({});


      myCollectionView = Backbone.View.extend({
          initialize: function(){
              self = this;
              this.collection.on('add',function(){
                self.render();
              })
              this.collection.on('add',function(model, collection, options) {
                console.log("adding "+model.cid+" name :" +model.attributes.name);
              });

              this.collection.on('add',function(model, collection, options) {
                self.render();
              });        
                          
              this.collection.on('remove',function(model, collection, options) {
                console.log("removing "+model.attributes.name);
              });
              
              this.collection.on('remove',function(model, collection, options) {
                self.render();
              });

              this.collection.on('reset',function(collection, options) {
                self.render();
              });              

              this.render();
              console.log(this.collection);
          },
          render: function(){
              this.template = _.template( $(".template_GitList").html(), {} );
              var tpl = Handlebars.compile(this.template);
              var htmlres = tpl( { me: this.collection.toJSON() } )
              $(this.el).html(htmlres);
              return this;          
          },
          events: {
              "click": "doSearch"  
          },
          doSearch: function(){
              // Button clicked
              console.log(this);
          }
      });
      
      var myView = new myCollectionView({ 
        el: $(".viewRenderGitList2") 
        ,collection: gitList
      });
      
      /*gitList.on('add',function(){
        myView.render();
      })*/