!!!5
html
  head
    title demo
    link(rel='stylesheet', href='/bootstrap.min.css')
    script(src='/components/jquery/jquery.min.js')
    script(src='/components/underscore/underscore-min.js')
    script(src='/components/backbone/backbone-min.js')
    script(src='/components/handlebars/handlebars.js')
    script(src='/components/json2/json2.js')
    script(src='jlive-0.0.1.js')
       
  body
    .template_GitList(style="display:none")
      {{#each me}}
      div
          span.pull-right.label{{payload.action}}
          img(src='{{actor.avatar_url}}',width=64,height=64)
          div {{id}} - {{repo.name}}
          a(href='https://github.com/{{repo.name}}',target="_blank") https://github.com/{{repo.name}}
          | {{payload.title}}
          p
      {{/each}}      

    .template_line(style="display:none")
      div
          span.pull-right.label{{payload.action}}
          img(src='{{actor.avatar_url}}',width=64,height=64)
          div {{id}} - {{repo.name}}
          a(href='https://github.com/{{repo.name}}',target="_blank") https://github.com/{{repo.name}}
          | {{payload.title}}
          p
      
    .container-narrow
      .row-fluid
        .row
          .span12
            ul(class="nav nav-pills pull-right")
              li
                a(href="/") Home
              li
                a(href="/about") About

        .row
          .span12
            .div #{title}
            button.btn.btn-primary(onclick="gitList.fetch({});") Actualiser
            hr

        .row
          .span12
            .div #{title}

        .row
          .span6
            .viewRenderGitList
            hr
          .span6
            .viewRenderGitList2
              span Loading

        .row
         .span9
          .viewRendererJLive


    script.
      //one.fetch();
      /*var sondeList =  new jLive('/sample-allsondes.json')
        .setTemplate('.templatejLive')
        .setLayout('.viewRendererJLive');
      */
      var gitList = new jLive('https://api.github.com/events')
        .setTemplate('.template_GitList')
        .setLayout('.viewRenderGitList');

      //sondeList.fetch({});      
      
      var gitList2 = new jLive2('https://api.github.com/events')
        .setTemplate('.template_GitList')
        .setLayout('.viewRenderGitList2');
      

      gitList2.fetch({});
      
      /*
      var view1 = new BackBone.jLiveView({
        collection : gitList
        ,template: '.template_GitList'
        ,target: '.viewRenderGitList2'
      }):*/

      gitList.fetch({});